body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    margin-bottom: 2em;
}

.score-container {
    display: flex;
    justify-content: space-between;
}

#score{
    color: red;
}

.game-container {
    display: flex;
    flex-direction: column;
    border: 10px solid #a79a8e;
}

.row {
    display: flex;
}

.cell {
    width: 4em;
    height: 4em;
    background-color: #e6dace;
    border: 5px solid #a79a8e;
    text-align: center;
    line-height: 4em;
    font-size: 1.5em;
    font-weight: bold;
    color: #676058;
}


#winModal {
    display: none; 
    position: fixed; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000; 
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); 
    z-index: 999; 
}
